.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px grey;
}
.heading_div{
float:none;
background:white;
padding:10px;
border-radius:20px;
color:black;
box-shadow:5px 5px 5px;
}
.headingdiv2{
    font-size:18px;
}
.result_para{
    box-shadow:5px 5px 5px grey;
    font-size:20px;
}
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:grey;
    color:white;
    line-height:3;
    text-align:center;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top:150px;
}